
<h2 class="text-center">Mis productos</h2>
<br>
<div class="d-flex justify-content-evenly">
{{#each productos}}
        <div class="card " style="width: 15rem">
            <img src="{{this.photo}}" class="card-img-top" style="width: 15rem; height: 8rem ">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">$ {{this.price}}</p>
                <button class="btn btn-primary emit_data">Agregar al carrito </button>  
            </div>
        </div>
{{/each}}
</div>